<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellulam.spring.datasource.test.dal.SysDAO">

    <select id="getSysDate" resultType="java.time.LocalDateTime">
        select current_timestamp(6) as sys_time
    </select>

</mapper>

