<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellulam.spring.datasource.test.dal.UserDAO">
    <resultMap id="ResultMap" type="com.cellulam.spring.datasource.test.po.UserDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <select id="getById" parameterType="long" resultMap="ResultMap">
        select * from user where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.cellulam.spring.datasource.test.po.UserDO"
            keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert user (name, age, create_time, update_time)
        value (#{name}, #{age}, #{createTime,javaType=java.time.LocalDateTime,jdbcType=BIGINT}, #{updateTime,javaType=java.time.LocalDateTime,jdbcType=BIGINT})
    </insert>

    <update id="updateUser" parameterType="com.cellulam.spring.datasource.test.po.UserDO">
        update user set
        name = #{name},
        age = #{age},
        update_time = #{updateTime,javaType=java.time.LocalDateTime,jdbcType=BIGINT}
        where id = #{id}
    </update>

</mapper>

