<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellulam.spring.meta.test.dal.UserDao">
    <resultMap id="ResultMap" type="com.cellulam.spring.meta.test.po.UserDo">
        <id column="uid" jdbcType="BIGINT" property="uid" />
        <result column="name" jdbcType="BIGINT" property="name" />
        <result column="status" jdbcType="BIGINT" property="status" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <select id="getById" parameterType="long" resultMap="ResultMap">
        select * from user where uid = #{id}
    </select>

    <insert id="add" parameterType="com.cellulam.spring.meta.test.po.UserDo"
            keyColumn="uid" keyProperty="uid">
          insert user (uid, name, status, create_time, update_time)
          value (#{uid}, #{name}, #{status}, #{createTime,javaType=java.time.LocalDateTime,jdbcType=BIGINT}, #{updateTime,javaType=java.time.LocalDateTime,jdbcType=BIGINT})
    </insert>

    <select id="getAll" resultMap="ResultMap">
        select * from user
    </select>

</mapper>

