<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellulam.spring.db.sharding.test.dal.AddressDao">
    <resultMap id="ResultMap" type="com.cellulam.spring.db.sharding.test.po.AddressDo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uid" jdbcType="BIGINT" property="uid" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="status" jdbcType="VARCHAR" property="status" />
    </resultMap>

    <select id="getById" parameterType="long" resultMap="ResultMap">
        select * from t_user_address where id = #{id}
    </select>

    <insert id="add" parameterType="com.cellulam.spring.db.sharding.test.po.AddressDo"
            keyColumn="id" keyProperty="id">
          insert t_user_address (id, uid, address, status)
          value (#{id}, #{uid}, #{address}, #{status})
    </insert>

    <select id="getAll" resultMap="ResultMap">
        select * from t_user_address
    </select>

    <select id="getByUserId" parameterType="long" resultMap="ResultMap">
        select * from t_user_address where uid = #{uid}
    </select>

    <select id="get" parameterType="long" resultMap="ResultMap">
        select t.*, u.name as user_name from t_user_address t
        left join user u on t.uid = u.uid
        where t.id = #{id}
    </select>

</mapper>

