<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellulam.spring.db.sharding.test.dal.CourseDao">
    <resultMap id="ResultMap" type="com.cellulam.spring.db.sharding.test.po.CourseDo">
        <id column="cid" jdbcType="BIGINT" property="cid" />
        <result column="cname" jdbcType="VARCHAR" property="cname" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <select id="getById" parameterType="long" resultMap="ResultMap">
        select * from course where cid = #{cid}
    </select>

    <insert id="add" parameterType="com.cellulam.spring.db.sharding.test.po.CourseDo"
            keyColumn="cid" keyProperty="cid">
          insert course (cid, cname, user_id, status, create_time, update_time)
          value (#{cid}, #{cname}, #{userId}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="getAll" resultMap="ResultMap">
        select * from course
    </select>

    <select id="getByUserId" parameterType="long" resultMap="ResultMap">
        select * from course where user_id = #{userId}
    </select>

</mapper>

